{% extends 'template.html' %}
{% block conteudo %}

    <div class="row">
        <div class="col-12">
            <div align="center">
                <h2>Login</h2>
            </div>
        </div>
    </div>
    {% include 'partils/_alertas.html' %}
    <form action="{% url 'login' %}" method="post" style="width: 600px;">
        {% csrf_token %}
        <div class="row">
            <div class="col-12 col-lg-12 mb-3">
                <label for="email" class="form-label">Email</label>
                <input type="email" class="form-control" id="email" name="email" required>
            </div>
            <div class="col-12 col-lg-12 mb-3">
                <label for="senha" class="form-label">Senha</label>
                <input type="password" class="form-control" id="senha" name="senha" required>
            </div>
            <div class="col-12 col-lg-12">
                <button class="btn btn-primary" type="submit" id="logar">Entrar</button>
            </div>
        </div>
    </form>
{% endblock %}

